.DrawCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DrawCanvas canvas {
  touch-action: none;
  margin-bottom: 1rem;
  width: 95vmin;
  height: 95vmin;
  max-width: 640px;
  max-height: 640px;
  border: 1px solid black;
}

.DrawCanvas div[role="group"] {
  margin-bottom: 1rem;
}

.DrawLabel {
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 5px;
  color: #673ab7;
  font-size: 1.2rem;
  font-weight: bold;
}

.DrawWaitMessage {
  margin-top: 2rem;
}

.TimeLeft {
  position: fixed;
  right: 0.5rem;
  top: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.WarningA,
.WarningB {
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.WarningA {
  animation-name: warningA;
}

.WarningB {
  animation-name: warningB;
}

@keyframes warningA {
  from {
    transform: scale(1.5);
    color: red;
  }

  to {
    transform: scale(1);
    color: inherit;
  }
}

@keyframes warningB {
  from {
    transform: scale(1.5);
    color: red;
  }

  to {
    transform: scale(1);
    color: inherit;
  }
}
